@import "@styles/settings/__settings";

*,
*:before,
*:after {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  padding: 0;
  margin: 0;
}

html {
  --reach-dialog: 1;
}

#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
