@import "@styles/settings/__settings";

.header {
  background-color: $color-header-background;
}

.mainHeader {
  padding: 18px 32px;
  border-bottom: 1px solid $color-gray-300;
  display: flex;
  align-items: baseline;

  @media #{$tablet-and-smaller} {
    justify-content: space-between;
    align-items: center;
  }

  @media #{$phone-and-smaller} {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.logoContainer {
  flex: 1;

  @media #{$tablet-and-smaller} {
    flex: none;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: inherit;
  white-space: nowrap;
}

.nav {
  font-size: 1.2rem;
  display: flex;
  gap: 48px;
  margin: 0 48px;

  @media #{$tablet-and-smaller} {
    display: none;
  }
}

.mobileNav {
  display: none;

  @media #{$tablet-and-smaller} {
    display: flex;
    gap: 32px;
  }

  @media #{$phone-and-smaller} {
    display: flex;
    gap: 16px;
  }
}

.navLink {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: $color-gray-900;
  font-weight: 600;
}

.spacer {
  flex: 1;

  @media #{$tablet-and-smaller} {
    display: none;
  }
}

.headerLocales {
  @extend .nav;
  margin: 0 0 0 2em;

  @media (max-width: 720px) {
    order: 4;
    margin-left: 0;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    color: $color-header-background;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $color-header-links;
    border-radius: 100%;
  }
}
