$color-brand-blue-light: #397dff;
$color-brand-blue-medium: #397dff;
$color-brand-deep-blue: #0b0535;
$color-brand-purple: #9c5bc3;
$color-brand-purple-dark: #150021;
$color-brand-blue-shadow: $color-brand-blue-medium;

$color-header-background: hsl(0deg, 0%, 100%);
$color-header-links: black;

$color-gray-100: hsl(185deg, 5%, 95%);
$color-gray-300: hsl(190deg, 5%, 80%);
$color-gray-500: hsl(196deg, 4%, 60%);
$color-gray-700: hsl(220deg, 5%, 40%);
$color-gray-900: hsl(220deg, 3%, 20%);

$color-white: hsl(0deg, 0%, 100%);
$color-primary: hsl(340deg, 65%, 47%);
$color-secondary: hsl(240deg, 60%, 63%);

$color-button-background: $color-gray-900;
$color-overlay-background: hsla(220, 5%, 40%, 0.8);
