@import "@styles/settings/__settings";

.footer {
  width: 100%;
  color: white;
  background-color: $color-gray-900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
}
